---
import Navbar from "../components/Navbar";
import ToTop from "../components/ToTop";
import Homeproject from "../components/Homeproject.astro";
import Footer from "../components/Footer.astro";
import * as data from "../data/projectdata.json";
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Jed Borseth - Portfolio</title>
  </head>

  <body class="bg-neutral-900 transition-colors delay-500">
    <header>
      <Navbar client:load />
    </header>
    <main>
      <section id="hero" class="min-h-screen grid grid-rows-2 justify-center">
        <div
          class="text-5xl sm:text-8xl md:text-9xl xl:text-[12rem] font-medium pl-[5%] w-full flex flex-wrap transition-all md:pt-20 self-center"
        >
          <h2 class="w-full text-violet-400">Hi, I'm</h2>
          <h1 class="w-full text-white">Jed Borseth</h1>
          <span
            class="text-xs md:text-sm w-full md:pl-5 pt-5 text-violet-400 transition-all font-mono"
          >
            Front-End Web Developer 🤖 / Type Safety Officer 👮‍♂️ / React Wizard
            🧙 /
          </span>
        </div>
        <button
          id="takeOffBtn"
          class="rounded-2xl px-10 py-5 bg-violet-500 w-48 text-white transition-all max-h-20 justify-self-center md:self-center group hover:bg-neutral-900 relative"
          >View 3D Gallery
          <img
            src="./images/rocket.png"
            alt="Rocket Ship"
            class="-rotate-45 w-20 h-20 absolute left-0 right-0 m-auto group-hover:opacity-100 group-active:opacity-100 opacity-0 transition-all bottom-16 hover:animate-[wiggle_500ms_ease-in-out_infinite] active:animate-[wiggle_500ms_ease-in-out_infinite] duration-700 md:delay-200"
          />
        </button>
      </section>
      <hr class="w-11/12 m-auto bg-white border-none h-[2px] rounded" />
      <ToTop client:idle />
      <section id="navigation" class="js-show-on-scroll">
        <div
          class="w-full h-12 flex justify-evenly text-white underline underline-offset-8 items-center mb-10"
        >
          <a
            href="#project-1"
            class="hover:decoration-violet-300 decoration-violet-500"
            >Movie Database</a
          >
          <a
            href="#project-2"
            class="hover:decoration-violet-300 decoration-violet-500"
            >Project 2</a
          >
        </div>
        <div class="flex">
          <hr
            class="w-[40%] m-auto bg-white border-none h-[2px] rounded mb-20"
          />
          <a
            href="./projects"
            class="text-white underline decoration-violet-500 underline-offset-8 -mt-3 w-max hover:decoration-violet-300"
            >View All</a
          >
          <hr
            class="w-[40%] m-auto bg-white border-none h-[2px] rounded mb-20"
          />
        </div>
      </section>
      <section class="" id="projects">
        <Homeproject project={data.project1} />
        <hr class="w-11/12 m-auto bg-white border-none h-[2px] rounded my-20" />
        <Homeproject project={data.project2} />
      </section>
    </main>
    <Footer />
    <script>
      // Codepen for animate opacity on scroll - https://codepen.io/jamesdoc/pen/qBbeOym
      const callback = function (entries: any[]) {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("animate-[opacity_1s_ease-in]");
          }
        });
      };

      const observer = new IntersectionObserver(callback);

      const targets = document.querySelectorAll(".js-show-on-scroll");
      targets.forEach(function (target) {
        target.classList.add("opacity-1");
        observer.observe(target);
      });

      // Rocket Lanuch to Gallery

      const btn: any = document.getElementById("takeOffBtn");
      if (btn) {
        btn.addEventListener("click", () => {
          if (btn.firstElementChild) {
            btn.style.opacity = "1";
            btn.firstElementChild.style.opacity = "1";
            if (window.innerWidth <= 768) {
              setTimeout(() => {
                btn.firstElementChild.style.bottom = "100vh";
              }, 500);
            } else {
              btn.firstElementChild.style.bottom = "100vh";
            }

            setTimeout(() => {
              // window.location.href = "https://gallery.jedborseth.com";
            }, 1500);
          }
        });
      }
    </script>
  </body>
</html>
