---
import Navbar from "../components/Navbar";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jed Borseth - Projects</title>
  </head>
  <body class="bg-neutral-900">
    <header><Navbar client:load /></header>
    <main class="min-h-screen grid place-items-center text-white font-mono">





    </main>
    <Footer />
  </body>
</html>
