---
import { Debug } from "astro/components";
import Navbar from "../../components/Navbar";
import Footer from "../../components/Footer.astro";
import * as data from "../../data/projectdata.json";

const pages = ["movie-db", "threejs"];
const page: any = Astro.params.pages;
if (!pages.includes(page)) {
  return Astro.redirect("/404");
}
let pageData;
if (data.project1.slug === page) {
  pageData = data.project1;
}
if (data.project2.slug === page) {
  pageData = data.project2;
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jed Borseth - {pageData && pageData.name}</title>
  </head>
  <body class="bg-neutral-900">
    <header><Navbar client:load /></header>
    <main class="min-h-screen text-white font-mono pt-10">
      <div class="grid">
        <h1 class="text-center lg:text-end text-3xl lg:w-1/3">
          {pageData && pageData.name}
          <span> |</span>
          <a
            href={pageData && pageData.location.ref}
            class="hover:text-gray-300">{pageData && pageData.location.name}</a
          >
        </h1>
        <h2
          class="italic text-violet-300 lg:text-end text-center lg:w-1/3 text-sm"
        >
          {pageData?.techTitles}
        </h2>
      </div>
      <div
        class="flex lg:gap-x-[25%] gap-x-5 flex-wrap md:flex-nowrap row-span-2 md:row-span-1 px-[5%] justify-center"
      >
        <img
          src={pageData && pageData.image}
          alt="Project Home Page Screenshot"
          class="h-52 w-full object-contain"
          loading="lazy"
        />

        <p class="py-5">
          {pageData && pageData.introText}{
            pageData && pageData.id === 2 && (
              <>
                <a
                  href="https://www.lamborghini.com/en-en/3d"
                  target="_blank"
                  class="ml-2 text-violet-300"
                >
                  Lamborghini
                </a>
                ,
                <a
                  href="https://eyes.nasa.gov/apps/solar-system/#/home"
                  class="ml-2 text-violet-300"
                  target="_blank"
                >
                  NASA
                </a>
              </>
            )
          }
        </p>
      </div>
      {
        pageData && pageData.id === 1 && (
          <div class="mt-10 grid h-full w-full place-items-center md:place-items-end">
            <h2 class="w-full place-self-end pr-5 text-center text-3xl md:w-1/2">
              Custom Hooks
            </h2>
            <code class="h-full w-full rounded bg-black bg-opacity-25 p-3 text-sm shadow-md md:w-2/3 lg:w-1/2">
              <span class="text-orange-300">function</span>
              <span class="text-green-200">useSupabase</span>
              <span class="text-red-300">()</span> &#123; <br />
              <div class="ml-5">
                <span class="text-violet-300">const</span> supabaseUrl =
                <span class="text-blue-200">
                  "https://********/.supabase.co"
                </span>
                ; <br />
                <span class="text-violet-300">const</span> supabaseAuth =
                <span class="text-blue-200">"*****************"</span>;
                <br />
                <span class="text-violet-300">const</span> supabase =
                <span class="text-cyan-300">createClient</span>
                <span class="text-red-300">( </span>supabaseUrl, supabaseKey
                <span class="text-red-300">)</span>;
                <br /> <span class="text-orange-300">return</span> supabase;
              </div>
              <span class="ml-2">&#125;</span>
              <br /> <span class="text-orange-300">export default</span>
              <span class="text-green-200">useSupabase</span>;
              <br />
            </code>
          </div>
        )
      }
    </main>
    <Footer />
  </body>
</html>
